<html>
    <head>
       
    </head>
    <body>
        <div>
            <form action="/testpage/" enctype="multipart/form-data" method="post">
                <input type="file" name = "imagefile"/>
                <button value="submit" type="submit">upload</button>
                {% csrf_token %}
            </form>
        </div>
        <div>
            <table border="1">
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Predict Value
                    </th>
                </tr>
                <tr>
                    <td>
                       Category
                    </td>
                    <td>
                        {{ predict_category }}
                    </td>
                </tr>
                <tr>
                    <td>
                       SubCategory
                    </td>
                    <td>
                        {{ predict_subcategory }}
                    </td>
                </tr>
                <tr>
                    <td>
                       Product Type
                    </td>
                    <td>
                        {{ predict_producttype  }}
                    </td>
                </tr>
                <tr>
                    <td>
                       Product spec
                    </td>
                    <td>
                        {{ predict_product }}
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <image height="500" src="/site_media/{{ filename }}" width="600"></image>
        </div>
     </body>
</html>